[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jose/Desktop/buuf3.22.tar.xz]
row=0
col=0

[/home/jose/Desktop/MyArchCfg-master]
row=2
col=0

[/home/jose/Desktop/MyArchCfg-master.zip]
row=1
col=0

